/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --white: 0, 0%, 100%;

    /* colors primary */
    --dark-blue-primary: 217, 28%, 15%;
    --dark-blue-secondary: 218, 28%, 13%;
    --dark-blue-footer-background: 216, 53%, 9%;
    --dark-blue-testimonials---dark-blue-footer-background: 219, 30%, 18%;

    /* colors accent */
    --dark-cyan: 176, 68%, 64%;
    --cyan: 176, 68%, 64%;
    --blue: 198, 60%, 50%;
    --ligh-red: 0, 100%, 63%;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-main: 'Open Sans', sans-serif;
    --ff-body: 'Raleway', sans-serif;
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: var(--fs-200);
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* ------------------- */
/* ------------------- */
